<!DOCTYPE html>
<html>
  <head>
    <title>KJT Timesheet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="/" style="color: darkblue"><h1>KJT Timesheet</h1></a>
    <div style="height: 30px"></div>
    <%= yield %>
  </body>
</html>
